
      <!-- Main component for a primary marketing message or call to action -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Principles</h3>
                <p class="card-text"></p>
                <a routerLink="prin_intro" class="btn btn-info">Introduction</a>
                <a routerLink="prin_epc" class="btn btn-info">Control</a>
                <a routerLink="prin_selforg" class="btn btn-info">Self-organization</a>
                <a routerLink="prin_collab" class="btn btn-info">Collaboration</a>
                <a routerLink="prin_vb" class="btn btn-info">Value-based</a>
                <a routerLink="prin_time" class="btn btn-info">Time-Boxing</a>
                <a routerLink="prin_iter" class="btn btn-info">Iterative</a>
                <a routerLink="prin_vs" class="btn btn-info">Versus</a>
            </div>
        </div>
    </div>
      
      <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Phases</h3>
                <p class="card-text"></p>
                <a routerLink="/Initiate" class="btn btn-success">Go Initiate</a>
                <a routerLink="/Plan" class="btn btn-success">Go Plan & Estimate</a>
                <a routerLink="/Implement" class="btn btn-success">Go Implement</a>
                <a routerLink="/Review" class="btn btn-success">Go Review and Retrospect</a>
                <a routerLink="/Release" class="btn btn-success">Go Release</a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Organizational</h3>
                <p class="card-text"></p>
                <a routerLink="/org_intro" class="btn btn-info" >Intro</a>
                <a routerLink="/org_roles" class="btn btn-info">Roles guide</a>
                <a routerLink="/org_project" class="btn btn-info">Project Roles</a>
                <a routerLink="/org_owner" class="btn btn-info">Product Owner</a>
                <a routerLink="/org_master" class="btn btn-info">Master</a>
                <a routerLink="/org_team" class="btn btn-info">Team</a>
                <a routerLink="/org_portfolio" class="btn btn-info">Portfolio</a>
                <a routerLink="/org_summary" class="btn btn-info">Summary</a>
                <a routerLink="/org_versus" class="btn btn-info">Versus</a>
                <a routerLink="/org_theories" class="btn btn-info">HR Theories</a>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Business Justification</h3>
                <p class="card-text"></p>
		<a routerLink="/bj_intro" class="btn btn-info" >Introduction</a>
		<a routerLink="/bj_roles" class="btn btn-info" >Roles</a>
		<a routerLink="/bj_vdd" class="btn btn-info" >Value-Driven</a>
		<a routerLink="/bj_importance" class="btn btn-info" >Importance</a>
		<a routerLink="/bj_techniques" class="btn btn-info" >Techniques</a>
		<a routerLink="/bj_continuous" class="btn btn-info" >Continuous</a>
		<a routerLink="/bj_benefits" class="btn btn-info" >Benefits</a>
		<a routerLink="/bj_summary" class="btn btn-info" >Summary</a>
		<a routerLink="/bj_vs" class="btn btn-info" >Versus</a>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Quality</h3>
                <p class="card-text"></p>
                <a routerLink="/qual_intro" class="btn btn-info" >Introduction</a>
                <a routerLink="/qual_roles" class="btn btn-info" >Roles</a>
                <a routerLink="/qual_defined" class="btn btn-info" >Defined</a>
                <a routerLink="/qual_acceptance" class="btn btn-info" >acceptance</a>
                <a routerLink="/qual_mgt" class="btn btn-info" >Management</a>
                <a routerLink="/qual_summary" class="btn btn-info" >Summary</a>
                <a routerLink="/qual_vs" class="btn btn-info" >Versus</a>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
				<h3 class="card-title">Change</h3>
				<p class="card-text"></p>
				<a routerLink="/chg_intro" class="btn btn-info" >Introduction</a>
				<a routerLink="/chg_roles" class="btn btn-info" >Roles</a>
				<a routerLink="/chg_overview" class="btn btn-info" >Overview</a>
				<a routerLink="/chg_change" class="btn btn-info" >Change in Scrum</a>
				<a routerLink="/chg_integrating" class="btn btn-info" >integrating</a>
				<a routerLink="/chg_portfolio" class="btn btn-info" >portfolio</a>
				<a routerLink="/chg_summary" class="btn btn-info" >Summary</a>
				<a routerLink="/chg_vs" class="btn btn-info" >Versus</a>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Risks</h3>
                <p class="card-text"></p>
                <a routerLink="/risk_role" class="btn btn-info" >Go Roles</a>
                <a routerLink="/risk_what" class="btn btn-info" >Go What?</a>
                <a routerLink="/risk_mgt" class="btn btn-info" >Go Management</a>
                <a routerLink="/risk_mini" class="btn btn-info" >Go Minimize</a>
                <a routerLink="/risk_portfolio" class="btn btn-info" >Go Portfolio</a>
                <a routerLink="/risk_summary" class="btn btn-info" >Go summary</a>
                <a routerLink="/risk_vs" class="btn btn-info" >Go Scrum vs.</a>
            </div>
        </div>
    </div>